@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs('400');
  color: clr(neutral, '000');
  line-height: 1.4;
  height: 100vh;

  background-image: url('/images/day-sky.jpg');
  // background-image: url('/images/night-sky.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
