$sizes: (
  '4': 0.25rem,
  '8': 0.5rem,
  '12': 0.75rem,
  '16': 1rem,
  '20': 1.25rem,
  '24': 1.5rem,
  '28': 1.75rem,
  '32': 2rem,
  '36': 2.25rem,
  '40': 2.5rem,
  '48': 3rem,
);

/* @link https://utopia.fyi/space/calculator?c=340,16,1.2,1000,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

$fluid-sizes: (
  /* Space 3xs: 4px → 5px */
  '3xs': clamp(0.25rem, 0.2178rem + 0.1515vw, 0.3125rem),
  /* Space 2xs: 8px → 9px */
  '2xs': clamp(0.5rem, 0.4678rem + 0.1515vw, 0.5625rem),
  /* Space xs: 12px → 14px */
  'xs': clamp(0.75rem, 0.6856rem + 0.303vw, 0.875rem),
  /* Space s: 16px → 18px */
  's': clamp(1rem, 0.9356rem + 0.303vw, 1.125rem),
  /* Space m: 24px → 27px */
  'm': clamp(1.5rem, 1.4034rem + 0.4545vw, 1.6875rem),
  /* Space l: 32px → 36px */
  'l': clamp(2rem, 1.8712rem + 0.6061vw, 2.25rem),
  /* Space xl: 48px → 54px */
  'xl': clamp(3rem, 2.8068rem + 0.9091vw, 3.375rem),
  /* Space 2xl: 64px → 72px */
  '2xl': clamp(4rem, 3.7424rem + 1.2121vw, 4.5rem),
  /* Space 3xl: 96px → 108px */
  '3xl': clamp(6rem, 5.6136rem + 1.8182vw, 6.75rem),

    /* One-up pairs */
  /* Space 3xs-2xs: 4px → 9px */
  '3xs-2xs': clamp(0.25rem, 0.089rem + 0.7576vw, 0.5625rem),
  /* Space 2xs-xs: 8px → 14px */
  '2xs-xs': clamp(0.5rem, 0.3068rem + 0.9091vw, 0.875rem),
  /* Space xs-s: 12px → 18px */
  'xs-s': clamp(0.75rem, 0.5568rem + 0.9091vw, 1.125rem),
  /* Space s-m: 16px → 27px */
  's-m': clamp(1rem, 0.6458rem + 1.6667vw, 1.6875rem),
  /* Space m-l: 24px → 36px */
  'm-l': clamp(1.5rem, 1.1136rem + 1.8182vw, 2.25rem),
  /* Space l-xl: 32px → 54px */
  'l-xl': clamp(2rem, 1.2917rem + 3.3333vw, 3.375rem),
  /* Space xl-2xl: 48px → 72px */
  'xl-2xl': clamp(3rem, 2.2273rem + 3.6364vw, 4.5rem),
  /* Space 2xl-3xl: 64px → 108px */
  '2xl-3xl': clamp(4rem, 2.5833rem + 6.6667vw, 6.75rem),
);

$section-padding: clamp(3rem, 10vh, 7rem);
$card-body-padding: clamp(3rem, 3.5vw, 5rem);

$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-inline-padding: 1rem;
$container-max-width: 60rem;
$container-max-width-wide: 75rem;
